[Unit]
Description=Daily web visit report timer

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true
Unit=visit-counter-daily-report.service

[Install]
WantedBy=timers.target
